.price {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;

  .current-price {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    color: hsl(158, 36%, 37%);
  }

  .old-price {
    font-size: 16px;
    text-decoration: line-through;
    color: #74767b;
  }
}